*.pyc
__pycache__
*.pyo
*.pyd
*.db
venv/
env/
*.log
db.sqlite3
staticfiles/
media/
local_settings.py
*/migrations/
local_db_config.json
__pycache__/
.cached/
.coverage
.coverage.xml
htmlcov/
.env
.vscode/
.DS_Store
